<div class="profile-sidebar">
    <!-- SIDEBAR USERPIC -->
    <div class="profile-userpic">
        <img src="{{ user.avatar.url }}" class="img-responsive" alt="">
    </div>
    <!-- END SIDEBAR USERPIC -->
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            {{ user.get_full_name }}
        </div>
        <div class="profile-usertitle-job">
            {{ user.username }}
        </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    <div class="profile-userbuttons">
        <form action="/user/profile/updateavatar/" method="post" enctype="multipart/form-data" id="formAvatar" >
            {% csrf_token %}
            <input type="file" name="avatar" accept="image/*" required="" id="id_avatar" class="d-none">
        </form>
        <button type="button" class="btn btn-success btn-sm" onclick="$('#id_avatar').click()">ĐỔI AVATAR</button>
        <button type="button" class="btn btn-danger btn-sm">BUTTON 2</button>
    </div>
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
        <ul class="nav">
            <li>
                <a href="/user/profile/">
                    <i class="glyphicon glyphicon-user"></i>
                    Thông tin tài khoản </a>
            </li>
            <li>
                <a href="/user/profile/edit/">
                    <i class="fas fa-user-edit"></i>
                    Chỉnh sửa thông tin </a>
            </li>
            <li>
                <a href="/order/selling/">
                    <i class="glyphicon glyphicon-ok"></i>
                    Đơn hàng </a>
            </li>
            <li>
                <a href="/order/my-order">
                    <i class="fas fa-shopping-cart"></i>
                    Giỏ hàng </a>
            </li>
            <li>
                <a href="/user/profile/shop/">
                    <i class="fas fa-store"></i>
                    Gian hàng của tôi </a>
            </li>
        </ul>
    </div>
    <!-- END MENU -->
</div>
<script type="text/javascript"
            src="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.14.1/js/jquery.min.js"></script>
<script>
    $("#id_avatar").on("change", () => {
        let form = $('#formAvatar')[0]
        data = new FormData(form)
        $.ajax({
                type: "POST",
                url: '/user/profile/updateavatar/',
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: data,
                success: function (response) {
                    if (response["result"] == "OK"){
                        window.location.replace($(location).attr("href"));
                    } else {
                        alert("Đã xảy ra lỗi! Vui lòng thử lại sau")
                    }
                }
        });
    })
</script>