<div class="form-row">
    <form id="filter-form" action="" class="form-row w-100">
        <div class="form-group col-md-4">
            <label for="inputState">Sắp xếp</label>
            <select id="order-by" name="order-by" class="form-control filter__select">
                <option value="time">Mới nhất</option>
                <option value="price-up">Giá tăng dần</option>
                <option value="price-down">Giá giảm dần</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Khuyến mãi</label>
            <select id="promotion" name="promotion" class="form-control filter__select">
                <option value="all">Tất cả</option>
                <option value="yes">Có khuyến mãi</option>
                <option value="no">Không khuyến mãi</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Tình trạng</label>
            <select id="available" name="available" class="form-control filter__select">
                <option value="all">Tất cả</option>
                <option value="yes">Còn hàng</option>
                <option value="no">Hết hàng</option>
            </select>
        </div>
    </form>
</div>
