{% load django_template_maths %}
<section class="product">
    <div class="container">
        <h4 class="bg-white title-section">Sản phẩm</h4>
        {% include "base/filter.html" %}
        <div class="row product-list">
            {% for item in products %}
                <div class="col-2 item-product">
                    <div class="product-item">
                        <img src="/media/{{ item.main_picture }}" class="product-img"
                             alt="">
                        <a href="/detail/{{ item.slug_product }}" >
                            <p class="product-title">
                                {{ item.name_product }}
                            </p>
                        </a>
                        <span class="product-price">{{ 100|sub:item.discount|mul:item.price|div:100|separator:'comma' }}đ</span>
                        <span class="product-sold">Có sẵn: {{ item.num_available }}</span>
                        {% if item.discount != 0 %}
                            <span class="discount text-red">Discount {{ item.discount }}%</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>